*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family: Inter, sans-serif;
  background:
    radial-gradient(
      circle at top left,
      rgba(139,92,246,0.25),
      transparent 35%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(6,182,212,0.25),
      transparent 35%
    ),
    linear-gradient(
      135deg,
      #020617,
      #0f172a,
      #1e1b4b
    );

  color:white;
  overflow-x:hidden;
}

/* Sections */

.section{
  padding:100px 10%;
}

/* Glass Cards */

.glass{
  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(20px);
  border:1px solid rgba(255,255,255,0.1);

  box-shadow:
    0 8px 32px rgba(139,92,246,0.25);

  transition:all 0.3s ease;
}

.glass:hover{
  transform:translateY(-10px);

  box-shadow:
    0 12px 40px rgba(6,182,212,0.4);
}

/* Gradient Text */

.gradient{
  background:linear-gradient(
    90deg,
    #06b6d4,
    #8b5cf6,
    #ec4899
  );

  -webkit-background-clip:text;
  color:transparent;
}

/* Navbar Links */

a{
  transition:0.3s;
}

a:hover{
  opacity:0.8;
}

/* Floating Animation */

@keyframes float {

  0%{
    transform:translateY(0px);
  }

  50%{
    transform:translateY(-10px);
  }

  100%{
    transform:translateY(0px);
  }

}

.glass{
  animation:float 6s ease-in-out infinite;
}

/* Custom Scrollbar */

::-webkit-scrollbar{
  width:10px;
}

::-webkit-scrollbar-track{
  background:#0f172a;
}

::-webkit-scrollbar-thumb{
  background:
  linear-gradient(
    #06b6d4,
    #8b5cf6
  );

  border-radius:20px;
}

/* Mobile */

@media (max-width:768px){

  .section{
    padding:80px 7%;
  }

}